body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-align: center;
}

.blocklyTreeLabel, .blocklyWidgetDiv, .blocklyHtmlInput, .blocklyText, .goog-menuitem-content {
    font-family: 'Open Sans', Helvetica, sans-serif !important;
}

#instructions {
    padding: 8px;
}

#blocklyDiv {
    height: 508px; 
    width: 508px;
    padding: 4px;
}

#turtleDiv {
    height: 508px; 
    width: 508px;
    padding: 4px;
}

#variables {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 1000px;
}

.var {
    padding: 0 16px;
}

.flex-outer {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    border: black 1px solid;
}

.flex-inner {
    display: flex;
    flex-direction: row;
}

#tortoise {
    display: none;
}